<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mobile Automation Suite" verbose="1">
    <test name="Default">
        <classes>
            <class name="com.mobile.automation.tests.FrameworkReadyTest"/>
            <class name="com.mobile.automation.tests.LaunchAppTest"/>
            <class name="com.mobile.automation.tests.SampleFeatureTest"/>
        </classes>
    </test>
</suite>
